@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Teko');

header{
  background-color: white;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
  margin-top: -40px;
}

main{
  background-color: white;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: -40px;
}

footer{
  background-color: white;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  margin-top: -10px;
}

nav{
  background-color: black;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  margin-right: 50px;
}

nav ul li a{
  text-decoration: none;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  font-size: 20px;
}

nav ul li a:hover{
  color: LightGoldenrodYellow;
  text-decoration: underline;
}

#container1{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  vertical-align: top;
}

.video{
  background-color: white;
  width: 40%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-left: 6%;
  vertical-align: top;
  float: left;
}

#container2{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  vertical-align: top;
}

#container3{
  width: 100%;
  height: auto;
  background-color: white;
  margin: 0 auto;
  vertical-align: top;
}

#thanks{
  background-color: black;
  width: 100%;
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-top: 25px;
}

#thankstext{
  color: white;
}

#title{
  font-family: 'Alfa Slab One', cursive;
  margin: 0 auto;
  font-size: 100px;
}

#titlee{
  margin: 0 auto;
}

.parhead{
  font-family: 'Alfa Slab One', cursive;
}

#clickHere{
  font-size: 30px;
  margin: 0 auto;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

#toggle1{
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Alfa Slab One', cursive;
}

#toggle1:hover{
  color: blue;
  text-decoration: underline;
}

#toggle2{
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Alfa Slab One', cursive;
}

#toggle2:hover{
  color: blue;
  text-decoration: underline;
}

#toggle3{
  font-size: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Alfa Slab One', cursive;
}

#toggle3:hover{
  color: blue;
  text-decoration: underline;
}

.box{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-left: 3%;
  vertical-align: top;
}

#img1{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-left: 3%;
}

#img2{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-left: 3%;
}

#img3{
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-left: 3%;
}
